import firebase from "firebase/app"; // * as firebase ではうまくいかない
import "firebase/app";
import "firebase/firestore";
import "firebase/auth";

const firebaseApp = firebase.initializeApp({
    apiKey: "",
    authDomain: "xxxx.firebaseapp.com",
    databaseURL: "https://xxxx.firebaseio.com",
    projectId: "xxxx",
    storageBucket: "xxxx.appspot.com",
    messagingSenderId: "xxxx",
    appId: "xxxx"
});

export const db = firebaseApp.firestore();
export const auth = firebaseApp.auth();
